$primary: #dc3545;

.owa-location-marker {
  fill: $primary;
}

.owa-marker-number {
  color: white;
}

.owa-opentour-article {
  blockquote {
    padding: 1rem;
    background-color: #eee;
    border-radius: 1rem;
  }
}
