$primary: #dc3545;
$navbar-light-color: #fff;
$navbar-light-hover-color: #c9c9c9;
$navbar-light-brand-color: #fff;
$navbar-light-brand-hover-color: #c9c9c9;
$toast-background-color: rgb(255 255 255 / 75%);
$accordion-bg: transparent;

@import "~bootstrap/scss/bootstrap";

body {
  overflow: hidden;
}

#map {
  height: calc(100vh - 40px - 1rem);
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.owa-detail-toggle {
  z-index: 999;
}