.leaflet-overlay-pane {
  path {
    animation-name: grow;
    animation-duration: 300ms;
  }

  .leaflet-interactive {
    animation-name: fade;
    animation-duration: 300ms;
  }
}

@keyframes fade {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0.5;
  }
  75% {
    fill-opacity: 0.8;
  }
  100% {
    fill-opacity: 0.7;
  }
}

@keyframes grow {
  0% {
    stroke-width: 3;
  }
  100% {
    stroke-width: 4;
  }
}